In [206]:
# Declarations
import glob
import json
import os
import numpy as np
import pandas as pd

from os.path import basename

In [207]:
dfRVC = pd.read_csv("RangeValueClassification.csv", sep=';')
dfNB = pd.read_csv("newBench.csv", sep=',')

In [208]:
del dfRVC['Unnamed: 0']
del dfNB['Var1']

In [209]:
dfRVC['DEVICE'] = dfRVC['DEVICE'].str.strip()
dfNB['DEVICE'] = dfNB['DEVICE'].str.strip()

dfRVC['DATA_TYPE'] = dfRVC['DATA_TYPE'].str.strip()
dfNB['DATA_TYPE'] = dfNB['DATA_TYPE'].str.strip()

dfRVC['FUNCTION'] = dfRVC['FUNCTION'].str.strip()
dfNB['FUNCTION'] = dfNB['FUNCTION'].str.strip()

dfRVC['DEVICE'] = dfRVC['DEVICE'].str.replace('Atmega328p', 'atmega328')
dfRVC['DEVICE'] = dfRVC['DEVICE'].str.replace('Leon3', 'sparc_leon3')
dfRVC['FUNCTION'] = dfRVC['FUNCTION'].str.replace('viterbi_register_lenght', 'viterbi_reg')
dfRVC['FUNCTION'] = dfRVC['FUNCTION'].str.replace('viterbi_getn', 'viterbi_getN')

In [210]:
del dfNB['NUM_S']
del dfNB['RANGE_S']
del dfNB['NUM_SI']
del dfNB['RANGE_SI']
del dfNB['NUM_ARR']
del dfNB['RANGE_ARR']

In [211]:
dfNB.head()

,DEVICE,FUNCTION,DATA_TYPE,DifficultyLevel,DistinctOperands,DistinctOperators,Effort,ProgramLength,ProgramLevel,ProgramVolume,...,FunctionCall,PointerDereferencing,CyclomaticComplexity,SyntacticallyReachableFunctions,SemanticallyReachedFunctions,CoverageEstimation,cInstr,assemblyInstr,clockCycles,CC4CS
0,atmega328,viterbi_encode,int32_t,44.28,319,66,462411.66,1216,0.02,10443.88,...,11.0,12.0,80.0,80.0,80.0,80.0,371,NaN,11268,30
1,atmega328,viterbi_encode,int32_t,44.28,319,66,462411.66,1216,0.02,10443.88,...,11.0,12.0,80.0,80.0,80.0,80.0,371,NaN,11268,30
2,atmega328,viterbi_encode,int32_t,44.10,321,66,462142.49,1219,0.02,10478.76,...,10.0,11.0,12.0,80.0,80.0,80.0,414,NaN,12902,31
3,atmega328,viterbi_encode,int32_t,44.28,319,66,462791.93,1217,0.02,10452.47,...,11.0,12.0,80.0,80.0,80.0,80.0,371,NaN,11268,30
4,atmega328,viterbi_encode,int32_t,44.28,319,66,462411.66,1216,0.02,10443.88,...,11.0,12.0,80.0,80.0,80.0,80.0,371,NaN,11268,30

In [212]:
dfRVC.head()

,DEVICE,FUNCTION,DATA_TYPE,NUM_S,RANGE_S,NUM_SI,RANGE_SI,NUM_ARR,RANGE_ARR
0,atmega328,tap,int8_t,2,0,1,0,1,1
1,atmega328,tap,uint8_t,2,0,1,0,1,1
2,atmega328,tap,int16_t,2,0,1,0,1,1
3,atmega328,tap,uint16_t,2,0,1,0,1,0
4,atmega328,tap,int32_t,2,0,1,0,1,1

In [213]:
dfTot = pd.merge(dfNB,dfRVC,how='left',on=['DEVICE','FUNCTION','DATA_TYPE'])

In [214]:
dfTot.head()

,DEVICE,FUNCTION,DATA_TYPE,DifficultyLevel,DistinctOperands,DistinctOperators,Effort,ProgramLength,ProgramLevel,ProgramVolume,...,cInstr,assemblyInstr,clockCycles,CC4CS,NUM_S,RANGE_S,NUM_SI,RANGE_SI,NUM_ARR,RANGE_ARR
0,atmega328,viterbi_encode,int32_t,44.28,319,66,462411.66,1216,0.02,10443.88,...,371,NaN,11268,30,0,0,1,0,1,1
1,atmega328,viterbi_encode,int32_t,44.28,319,66,462411.66,1216,0.02,10443.88,...,371,NaN,11268,30,0,0,1,0,1,1
2,atmega328,viterbi_encode,int32_t,44.10,321,66,462142.49,1219,0.02,10478.76,...,414,NaN,12902,31,0,0,1,0,1,1
3,atmega328,viterbi_encode,int32_t,44.28,319,66,462791.93,1217,0.02,10452.47,...,371,NaN,11268,30,0,0,1,0,1,1
4,atmega328,viterbi_encode,int32_t,44.28,319,66,462411.66,1216,0.02,10443.88,...,371,NaN,11268,30,0,0,1,0,1,1

In [215]:
dfNB.shape

(17530, 32)

In [216]:
dfTot.shape

(17530, 38)

In [217]:
columnsTot = ['DEVICE', 'FUNCTION', 'DATA_TYPE', 
              'DifficultyLevel',
              'DistinctOperands', 'DistinctOperators', 'Effort', 'ProgramLength',
              'ProgramLevel', 'ProgramVolume', 
              'TotalOperators',
              'Total_Operands', 'VocabularySize', 'Sloc', 'DecisionPoint',
              'GlobalVariables', 'If', 'Loop', 'Goto', 'Assignment', 'ExitPoint',
              'Function', 'FunctionCall', 'PointerDereferencing',
              'CyclomaticComplexity', 'SyntacticallyReachableFunctions',
              'SemanticallyReachedFunctions', 'CoverageEstimation', 
              'NUM_S', 'RANGE_S', 'NUM_SI',
              'RANGE_SI', 'NUM_ARR', 'RANGE_ARR', 'cInstr', 'assemblyInstr',
              'clockCycles', 'CC4CS']
dfTot = dfTot[columnsTot]

In [218]:
dfTot

,DEVICE,FUNCTION,DATA_TYPE,DifficultyLevel,DistinctOperands,DistinctOperators,Effort,ProgramLength,ProgramLevel,ProgramVolume,...,NUM_S,RANGE_S,NUM_SI,RANGE_SI,NUM_ARR,RANGE_ARR,cInstr,assemblyInstr,clockCycles,CC4CS
0,atmega328,viterbi_encode,int32_t,44.28,319,66,462411.66,1216,0.02,10443.88,...,0,0,1,0,1,1,371,NaN,11268,30
1,atmega328,viterbi_encode,int32_t,44.28,319,66,462411.66,1216,0.02,10443.88,...,0,0,1,0,1,1,371,NaN,11268,30
2,atmega328,viterbi_encode,int32_t,44.10,321,66,462142.49,1219,0.02,10478.76,...,0,0,1,0,1,1,414,NaN,12902,31
3,atmega328,viterbi_encode,int32_t,44.28,319,66,462791.93,1217,0.02,10452.47,...,0,0,1,0,1,1,371,NaN,11268,30
4,atmega328,viterbi_encode,int32_t,44.28,319,66,462411.66,1216,0.02,10443.88,...,0,0,1,0,1,1,371,NaN,11268,30
5,atmega328,viterbi_encode,int32_t,44.28,319,66,462791.93,1217,0.02,10452.47,...,0,0,1,0,1,1,371,NaN,11268,30
6,atmega328,viterbi_encode,int32_t,44.10,321,66,462521.61,1220,0.02,10487.35,...,0,0,1,0,1,1,414,NaN,12902,31
7,atmega328,viterbi_encode,int32_t,44.28,319,66,462411.66,1216,0.02,10443.88,...,0,0,1,0,1,1,371,NaN,11268,30
8,atmega328,viterbi_encode,int32_t,44.10,321,66,461763.37,1218,0.02,10470.16,...,0,0,1,0,1,1,414,NaN,12902,31
9,atmega328,viterbi_encode,int32_t,44.10,321,66,461763.37,1218,0.02,10470.16,...,0,0,1,0,1,1,414,NaN,12902,31
10,atmega328,viterbi_encode,int32_t,44.10,321,66,462142.49,1219,0.02,10478.76,...,0,0,1,0,1,1,414,NaN,12902,31
11,atmega328,viterbi_encode,int32_t,44.28,319,66,462411.66,1216,0.02,10443.88,...,0,0,1,0,1,1,371,NaN,10810,29
12,atmega328,viterbi_encode,int32_t,44.28,319,66,462791.93,1217,0.02,10452.47,...,0,0,1,0,1,1,371,NaN,11268,30
13,atmega328,viterbi_encode,int32_t,44.28,319,66,462411.66,1216,0.02,10443.88,...,0,0,1,0,1,1,371,NaN,11268,30
14,atmega328,viterbi_encode,int32_t,44.10,321,66,462142.49,1219,0.02,10478.76,...,0,0,1,0,1,1,414,NaN,12902,31
15,atmega328,viterbi_encode,int32_t,44.10,321,66,461763.37,1218,0.02,10470.16,...,0,0,1,0,1,1,414,NaN,12902,31
16,atmega328,viterbi_encode,int32_t,44.28,319,66,462031.38,1215,0.02,10435.29,...,0,0,1,0,1,1,371,NaN,11268,30
17,atmega328,viterbi_encode,int32_t,44.28,319,66,462411.66,1216,0.02,10443.88,...,0,0,1,0,1,1,371,NaN,11268,30
18,atmega328,viterbi_encode,int32_t,44.10,321,66,461763.37,1218,0.02,10470.16,...,0,0,1,0,1,1,414,NaN,12902,31
19,atmega328,viterbi_encode,int32_t,44.10,321,66,462142.49,1219,0.02,10478.76,...,0,0,1,0,1,1,414,NaN,12902,31
20,atmega328,viterbi_encode,int32_t,44.10,321,66,462521.61,1220,0.02,10487.35,...,0,0,1,0,1,1,414,NaN,12902,31
21,atmega328,viterbi_encode,int32_t,44.28,319,66,462411.66,1216,0.02,10443.88,...,0,0,1,0,1,1,371,NaN,11268,30
22,atmega328,viterbi_encode,int32_t,44.10,321,66,461763.37,1218,0.02,10470.16,...,0,0,1,0,1,1,414,NaN,12902,31
23,atmega328,viterbi_encode,int32_t,44.28,319,66,462411.66,1216,0.02,10443.88,...,0,0,1,0,1,1,371,NaN,11268,30
24,atmega328,viterbi_encode,int32_t,44.10,321,66,462142.49,1219,0.02,10478.76,...,0,0,1,0,1,1,414,NaN,12902,31
25,atmega328,viterbi_encode,int32_t,44.10,321,66,462142.49,1219,0.02,10478.76,...,0,0,1,0,1,1,414,NaN,12902,31
26,atmega328,viterbi_encode,int32_t,44.10,321,66,462142.49,1219,0.02,10478.76,...,0,0,1,0,1,1,414,NaN,12902,31
27,atmega328,viterbi_encode,int32_t,44.10,321,66,461763.37,1218,0.02,10470.16,...,0,0,1,0,1,1,414,NaN,12902,31
28,atmega328,viterbi_encode,int32_t,44.28,319,66,462791.93,1217,0.02,10452.47,...,0,0,1,0,1,1,371,NaN,11268,30
29,atmega328,viterbi_encode,int32_t,44.28,319,66,462031.38,1215,0.02,10435.29,...,0,0,1,0,1,1,371,NaN,11268,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17500,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17501,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17502,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17503,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17504,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17505,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17506,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17507,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17508,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17509,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17510,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17511,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17512,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17513,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17514,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17515,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17516,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17517,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17518,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17519,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17520,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17521,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17522,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17523,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17524,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17525,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17526,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17527,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17528,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571
17529,sparc_leon3,viterbi_getN,float,26.93,309,52,221893.04,970,0.04,8240.98,...,1,0,0,0,0,0,7,1388.0,3997,571

In [221]:
dfTot.to_csv("newBenchMerge.csv", sep=';')

In [222]:
df8051 = dfTot[dfTot['DEVICE'] == '8051']
dfatmega = dfTot[dfTot['DEVICE'] == 'atmega328']
dfleon3 = dfTot[dfTot['DEVICE'] == 'sparc_leon3']

In [223]:
df8051.to_csv("nB8051.csv", sep=';',index=False)
dfatmega.to_csv("nBatmega328p.csv", sep=';',index=False)
dfleon3.to_csv("nBleon3.csv", sep=';',index=False)

In [235]:
columnsTot2 = ['DEVICE', 'FUNCTION', 'DATA_TYPE', 
              'DifficultyLevel',
              'DistinctOperands', 'DistinctOperators', 'Effort', 'ProgramLength',
              'ProgramLevel', 'ProgramVolume', 
              'TotalOperators',
              'Total_Operands', 'VocabularySize', 'Sloc', 'DecisionPoint',
              'GlobalVariables', 'If', 'Loop', 'Goto', 'Assignment', 
              #'ExitPoint',
              #'Function', 'FunctionCall', 'PointerDereferencing',
              #'CyclomaticComplexity', 'SyntacticallyReachableFunctions',
              #'SemanticallyReachedFunctions', 'CoverageEstimation', 
              'NUM_S', 'RANGE_S', 'NUM_SI',
              'RANGE_SI', 'NUM_ARR', 'RANGE_ARR', 
              'cInstr', 'clockCycles', 'CC4CS']
dfTot2 = dfTot[columnsTot2]

In [236]:
dfTot2[dfTot2.isnull().any(axis=1)]

Empty DataFrame
Columns: [DEVICE, FUNCTION, DATA_TYPE, DifficultyLevel, DistinctOperands, DistinctOperators, Effort, ProgramLength, ProgramLevel, ProgramVolume, TotalOperators, Total_Operands, VocabularySize, Sloc, DecisionPoint, GlobalVariables, If, Loop, Goto, Assignment, NUM_S, RANGE_S, NUM_SI, RANGE_SI, NUM_ARR, RANGE_ARR, cInstr, clockCycles, CC4CS]
Index: []

[0 rows x 29 columns]